<div class="container" id="container">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.image"
        alt="{{ recipe.name }}"
        id="imagen"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>{{ recipe.name }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="dropdown" appDropDown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Administrar Receta<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer" (click)="AddToShoppingList()"
              >Agregar ingredientes a la Receta</a
            >
          </li>
          <li><a style="cursor: pointer"(click)="onEditRecipe()">Editar Receta</a></li>
          <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Eliminar Receta</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of recipe.Ingredients">
          {{ item.name }} - {{ item.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
