<div class="container" id="container">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.image"
        alt="{{ recipe.name }}"
        id="imagen"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>{{ recipe.name }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropDown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Administrar Receta<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="">Agregar ingredientes a la Receta</a></li>
          <li><a href="">Editar Receta</a></li>
          <li><a href="">Eliminar Receta</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">Ingredientes</div>
  </div>
</div>
